*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 19px;
}

.container{
    margin: 0 7.2% 0 7.2%;
}

.layout{
    display: grid;
    grid-template-columns: 150px 1fr;
}

/* Tab bar */

.tab-bar{
    min-height: 100vh;
    background: #191718;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.tab-bar > a{
    color: #AAAAAA;
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    padding: 14px 16px 11px 16px;
    text-decoration: none;
}

.tab-bar > a:focus {
    color:#ffffff;
}

.tab-bar > a:hover{
    background: #5C5C5C;
    color:#ffffff;
}

/* Main layout */
.main-layout{
    padding-top: 20px ;
}

.logo{
    text-align: center;
}

.logo img{
    width: 17.5%;
}

.description{
    margin-top: 30px;
    color: #000000;
}

.description .description-inner{
    background: #EFEFEF;
    align-items: center;
    display: flex;
    flex-direction:column ;
    padding: 38px 17.8%;
}

.description .title{
    max-width: 972px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.description .content{
    margin-top: 18px;
    max-width: 972px;
    line-height: 21px;
    text-align: center;
}

.list-item{
    margin-top: 40px;
    margin-bottom: 183px;
}

.list-item .list-item-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.8%;
}

.list-item .item .title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;   
}

.list-item .item .content{
    color: #000000;
    margin-top: 18px;
}

.list-item .item .content img{
    float: left;
    width: 27.2%;
    margin-right: 16px;
}

.footer{
    border-top: 1px solid #DEDEDE;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: start;
}







